.App {
  text-align: center;
}

.App-header {
  background-color: #17a2b8;
  height: 100px;
  padding: 20px;
  color: white;
  position: relative;
}

.App-header h1 {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

body {
  font-family: 'Special Elite', cursive;
}